<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="casalimpa.projeto.com.casalimpa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico_casalimpa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico_casalimpa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PaginaInicioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/cadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeuPerfilActivity"
            android:label="@string/meu_perfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:label="@string/dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeusServicosActivity"
            android:label="@string/meus_servicos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdicionarNovoServicoActivity"
            android:label="@string/adicionar_novo_servico"
            android:screenOrientation="portrait" />
        <activity android:name=".PainelDeControleActivity" />
        <activity
            android:name=".AvaliacoesActivity"
            android:label="@string/avaliacoes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContratarServicosActivity"
            android:label="Contratar Serviços"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicosPrestadosActivity"
            android:label="Serviços Prestados"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarPerfilPrincipalActivity"
            android:label="@string/editar_perfil_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarPerfilPrestadorServicoActivity"
            android:label="@string/editar_perfil_prestador_servico"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".EditarPerfilEmpregadorActivity"
            android:label="@string/editar_perfil_empregador"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ContratarServicosFormActivity"
            android:label="Contratar Serviços"
            android:screenOrientation="portrait"/>
    </application>

</manifest>